<% if @shifts.empty? %>
  <h4>There are no shifts at this time</h4>
<% else %>
  <h4>Shifts</h4>
  <table class="striped highlight">
    <thead>
      <th>Assignment ID</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>notes</th>
      <th>Status</th>
      <th class="align_center">Options</th>
    </thead>
    <% for shift in @shifts %>
      <tr>
        <td><%= shift.assignment.id %></td>
        <td><%= shift.date %></td>
        <td><%= shift.start_time %></td>
        <td><%= shift.end_time %></td>
        <td><%= shift.notes %></td>
        <td><%= shift.status %></td>

       <td class="align_center">
        <%= link_to 'Edit', edit_shift_path(shift) %>
        &nbsp;
        <%= link_to 'Show', shift_path(shift) %>
        &nbsp;
        <%= link_to 'Delete', shift, method: delete %>
       </td>
      </tr>

    <% end %>
  </table>
  <br />
  <%= will_paginate @shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>
<p>&nbsp;</p>

<p><strong>
<%= link_to "Add a New Shift", new_shift_path, class: 'waves-effect waves-light btn' %> 
</strong></p>