<h4>Shifts</h4>
  <table class="striped highlight">
    <thead>
      <th>Assignment ID</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>notes</th>
      <th>Status</th>
    </thead>
      <tr>
        <td><%= @shift.assignment_id %></td>
        <td><%= @shift.date %></td>
        <td><%= @shift.start_time %></td>
        <td><%= @shift.end_time %></td>
        <td><%= @shift.notes %></td>
        <td><%= @shift.status %></td>
      </tr>

  </table>
  <br />
<p>&nbsp;</p>